@import "tailwindcss";

:root{
     --font:'Poppins';
     --color-one: #ffe9ec;
     --color-two:#fac2ca;
     --color-three:#66454a;
     --color-four:#ea5484;
     --color-five:#;
}

@theme {
  --font-sans: var(--font);
}